#footersection {
    background-color: #234391;
    padding: 5rem 1rem;
    color: #f4f9fd;
}

.footercontent{
    
    display: flex;
    flex-direction: row;
    gap: 15rem;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .footercontent{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }
}