#forgotpasswordmaindiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 8rem 2rem 2rem 2rem;
}

#forgotpasswordformdiv{
    
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 600px) {

    
    #forgotpasswordformdiv{
        width: 80%;
    }
    

}

@media only screen and (max-width: 900px) {

    
    #forgotpasswordformdiv{
        width: 60%;
    }
    

}

